Package: me.jjolano.fmwk.rootbridge
Name: RootBridge Framework
Depends: firmware (>= 8.0)
Version: 1.0.1
Architecture: iphoneos-arm
Description: An iOS developer framework for rootless tweak development.
Maintainer: jjolano
Author: jjolano
Section: Development
Tag: role::developer
